 * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background: whitesmoke;
  
        }

        section {
            padding: 30px;
            margin: 20px;
            background: white;
            border-radius: 8px;
        }

        h2 {
            margin-bottom: 15px;
            color: burlywood;
            text-align: center;
        }


        header {
            background-color: brown;
            color: white;
            text-align: center;
            padding: 20px;
        }

        nav {
            margin-top: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }
        a:hover{
            color: aqua;
        }
        .name {
            text-align: center;
        }
        .card {
            display: flex;
            gap: 15px;
        }
        .child {
            flex: 1;
            background: #ffe4c4;
            padding: 15px;
            border-radius: 10px;
            text-align: center;
        }
        .child img {
            width: 100px;
            border-radius: 20px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
           text-align: center;
        }
            table{
                align-content: center;
            }
        form input,
        form select,
        form textarea {
            width: 250px;
            padding: 6px;
            margin: 6px 0;
        }

        button {
            padding: 8px 15px;
            background: brown;
            color: white;
            border: none;
            cursor: pointer;
        }
        footer {
            background: brown;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }