*{
    text-decoration: 0;
}
body{
    background-color:#0f172a;
    color: #f8fafc;
}
.head{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 1000;
    transition:all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.logo{
    font-size: medium;
    font-weight: 700;
    color: #fff;
    padding-left: 80px;
}
.logo span{
    color: #6C63FF;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;

}
.btn{
border-radius: 25%;
padding: 12px;
color: white;
background-color: #6C63FF;

}
a{
    color: white;
}
