*{
    text-decoration: 0;
}
body{
    background-color:#0f172a;
    color: #f8fafc;
}
.head{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: medium;
    font-weight: 700;
    color: #fff;
    padding-left: 80px;
}
.logo span{
    color: #6C63FF;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-right: 80px;

}
.btn{
border-radius: 25%;
padding: 12px;
color: white;
background-color: #6C63FF;

}
a{
    
    color: white;
}
section{
    text-align: center;
}
.b  { 
     background: linear-gradient(to right, #6C63FF, #00d2ff)
}