body{
    background-color: grey;
}
header{
    display:flex;
    background-color: black;
    color:white;
    justify-content: space-between;
    padding: 10px;
}
a{
    color: white;
    text-decoration: 0;
    margin-left: 10px;
}
.one{
height: 60vh;
background: url(https://wallpaperaccess.com/full/1376495.jpg);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.btn{
    padding:10px;
    margin: 10px;
    background-color: bisque;
}
.btn:hover{
    background-color: burlywood;
    color: blue;
}
.per{
    width: 50%;
    height: 100px;
    background-color: aqua;
    text-align: center;
    padding-top: 60px;
}
.vh{
    height: 20vh;
    text-align: center;
    background-color: cadetblue;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#unit{
    text-align: center;
    background-color:aliceblue;
    padding: 10px;
}
.b{
    background:antiquewhite;
    padding:20px;
    margin:10px 0;
    border:3px solid purple;
}
.inline{
    background:rgb(207, 243, 136);
}

.block{
    display:block;
    background:rgb(241, 208, 147);
    margin-top:10px;
}
.par{
    position:relative;
    height:120px;
    background:lightgray;
}

.child{
    position:absolute;
    top:10px;
    right:10px;
    background:red;
    color:white;
}
.box{
    display:flex;
    gap:10px;
}

.box1{
    flex:1;
    background:coral;
    padding:20px;
}
.gr{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}

.g{
    background:lightgreen;
    padding:30px;
}
.xyz{
    display:flex;
    gap:10px;
}

.xyz1{
    flex:1;
    background:#f2f2f2;
    padding:20px;
}
.photo{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

.photo img{
    width:100%;
    height:100%;
    border-radius: 15%;
}
@media(max-width:900px){
    .gr{
        grid-template-columns: repeat(2,1fr);
        .photo{
            grid-template-columns: repeat(2,1fr);
        }

    }
}